html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    
    margin: 0;
    

}
body::-webkit-scrollbar {
    display: none;
}
a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.personal-details{
    
    background-color: rgb(2, 2, 2);
    border: 2px solid black;
    height: 800px;
    min-width: 300px;
    max-width: 1600;
    font-size: 14px;

}
@media (max-width:414px) {
    .personal-details{
        height: 100%;
    }
}
@media (min-width:425px) and (max-width:768px) {
    .personal-details{
        height: 100%;
    }
}

header h3{
    position: relative; left: 150px;
    font-size: 4em;
    color: orangered;
}
@media (max-width:414px) {
    header h3{
        position: relative; left: 22px;
        font-size: 1em;
        color: orangered;
    }
}

@media (min-width:425px) and (max-width:768px) {
    header h3{
        position: relative; left: 22px;
        font-size: 3em;
        color: orangered;
    }
}
@media (min-width:375px) and (max-width:425px) {
    header h3{
        position: relative; left: 22px;
        font-size: 2em;
        color: orangered;
    }
}

header p{
    position: relative; left: 150px;
    font-size: 18px;
<<<<<<< HEAD
    color: white;
=======
    color:whitesmoke;
>>>>>>> 1d92ca8f31796a7a4555b63ff6844b9e3ab8e0e4

}
@media (max-width:414px) {
    header p{
        position: relative; left: 22px;
        font-size: 12px;
    }
}

@media (min-width:425px) and (max-width:768px) {
    header p{
        position: relative; left: 22px;
        font-size: 15px;
    }
}
@media (min-width:375px) and (max-width:425px) {
    header p{
        position: relative; left: 22px;
        font-size: 13px;
    }
}

header img {
    border: 2px solid black;
    object-fit: cover;

    max-width: 100%;
    height: auto;
    position: relative; left: 800px; top:-250px;
}
@media (max-width:414px) {
    header img{
        border: 2px solid black;
        object-fit: cover;
        height: 150px;
        width: 140px;
        position: relative; left: 209px; top:-120px;
    }

}
@media (min-width:425px) and (max-width:768px) {
    header img{
        border: 2px solid black;
        object-fit: cover;
        height: 200px;
        width: 200px;
        position: relative; left: 450px; top:-150px;
    }

}
@media (min-width:375px) and (max-width:425px) {
    header img{
        border: 2px solid black;
        object-fit: cover;
        height: 170px;
        width: 150px;
        position: relative; left: 260px; top:-140px;
    }
}
@media (min-width:769px) and (max-width:1024px) {
    header img{
        border: 2px solid black;
        object-fit: cover;
        height: auto;
        max-width: 100%;
        position: relative; left: 580px; top:-185px;
    }
}

.container{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.left-half{

    
    background-color:lightblue;
    position: relative; bottom: 265px;
    height: 300px;
    width: 350px;
    overflow-y: scroll;
}
.left-half::-webkit-scrollbar {
    display: none;
}
@media (max-width:414px) {
.left-half{
    position: relative; right: 5px; bottom: 80px;
    width: 300px;
    height: 200px;
}
}

@media (min-width:425px) and (max-width:768px) {
    .left-half{
        position: relative; right: 0; bottom: 20px;
        width: 150px;
        height: 300px;
    }

}
@media (min-width:375px) and (max-width:425px) {
    .left-half{
        position: relative; right: 2px; bottom: 135px;
        width: 375px;
        height: 150px;
    }

}
@media (min-width:769px) and (max-width:1024px) {
    .left-half{
        position: relative; right: 4px; bottom: 135px;
        width: 250px;
        height: 300px;
    }

}




.right-half{
    
    position: relative; bottom: 265px;
    background-color: rgb(14, 13, 13);
    height: 300px;
    
    width: 900px;
    overflow-y: scroll;
}
.right-half::-webkit-scrollbar {
    display: none;
}
@media (max-width:414px) {
    .right-half{
        position: relative; right: 2px; bottom: 70px;
        width: 345px;
        height: 200px ;
    }
    }
    @media (min-width:425px) and (max-width:768px) {
        .right-half{
            position: relative; right: 2px; bottom: 20px;
            width: 550px;
            height: 300px ;
        }
    }
    @media (min-width:375px) and (max-width:425px) {
        .right-half{
            position: relative; right: 2px; bottom: 135px;
            width: 424px;
            height: 250px ;
        }
        .personal-details{
            height: 100%;
        }
    
    }
    @media (min-width:769px) and (max-width:1024px) {
        .right-half{
            position: relative; right: 2px; bottom: 135px;
            width: 700px;
            height: 300px ;
        }
    
    }
    

.left-half  h3{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
@media (max-width:414px) {
    .left-half  h3{
        text-align: center;
        font-size: 20px;
    }
    }
    @media (min-width:425px) and (max-width:768px) {
        .left-half  h3{
            text-align: center;
            font-size: 15px;
        }
    }


table{
    align-self: center;
    
}
table, th, td,tr {
    
    
    width: 80%;
    
  }
td{
    text-align: center;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
th{
    font-size: 25px;
    text-align: center;
    color: black;
}

.right-half  p {
    text-align: center;
    font-size: 40px;
    color:rgb(216, 85, 10);
}

.right-half  h2 {
    
    font-size: 28px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.right-half  li {
    
    font-size: 20px;
    color:rgb(238, 78, 20);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

